{% extends 'base.html.twig' %}
{% set ENVIRONNEMENT = "http://localhost:8000" %}
{% block stylesheets %}


    <!-- Pour la barre de recherche -->

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ asset('assets/css/home.css')}}"/>
    <!-- Pour l'affichage des details sur un match -->
    <link href="{{ asset('assets/css/search.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ asset('assets/css/bouton.css')}}"/>
    <script>var ENVIRONNEMENT = "{{ ENVIRONNEMENT }}";</script>
{% endblock %}


{% block body %}

    <header>
        <h1>
            Bet'n play
        </h1>
    </header>

    <div class="vertical-menu col-md-2">
        <a href="{{ ENVIRONNEMENT }}/" class="active"><div><i class="fas fa-futbol"></i> Bets Feed</div></a>
        <a href="{{ ENVIRONNEMENT }}/bets"><div><i class="fas fa-hand-holding-usd"></i> Bets</div></a>
    </div>

    <div class="col-md-4 search-bar">
        {% include 'home/elements/liste.html.twig' %}
    </div>

    <div>
        {% include 'home/elements/pari.html.twig' %}
    </div>

    {% block list_pari %}
    {% endblock %}


    {% block pari %}
    {% endblock %}


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/getInfoMatch.js') }}"></script>
    <script src="{{ asset('assets/js/search.js') }}"></script>
{% endblock %}