{% block body %}
    <br>
    <div id="pari-selectionne">
        {% set n = matches["matches"]|length %}
        {% if n>0 %}
            <h1 id="titre-match">{{ matches["matches"][0]['homeTeam']['name'] }} - {{ matches["matches"][0]['awayTeam']['name'] }}</h1>
            {% if team is defined %}
                {% if team==0 %}
                    <h4>Vous avez parié sur une victoire de {{ matches["matches"][0]['homeTeam']['name'] }}</h4>
                {%  elseif team==1 %}
                    <h4>Vous avez parié sur un match nul</h4>
                {% elseif team==2 %}
                    <h4>Vous avez parié sur une victoire de {{ matches["matches"][0]['awayTeam']['name'] }}</h4>
                {% endif %}
            {% else %}
                <h4>Pariez sur le match et gagnez plein d'argent !! <img src="{{ asset('assets/images/money-bag.png') }}"/></h4>
            {% endif %}

            <div class="row col-md-10 match-details">
                <hr/>
                <div class="row">
                    <div class="col-md-1 col-md-offset-1 NomChampionnat" id="competition">
                        {{ matches['competition']['name'] }}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-1 NomEquipe" id="nomEquipes">
                        {{ matches["matches"][0]['homeTeam']['name'] }} - {{ matches["matches"][0]['awayTeam']['name'] }}
                    </div>
                    <div class="col-md-2 col-md-offset-4" id="date">
                        {% set date1 = matches["matches"][0]['utcDate']|split('-') %}
                        {% set date1_1 = date1[2]|split('T') %}
                        {% set date2 = matches["matches"][0]['utcDate']|split('T') %}
                        {% set date3 = date2[1]|split(':') %}
                        {{ date1_1[0] ~ '/' ~ date1[1] ~ ' ' ~ date3[0] ~ ':' ~ date3[1]}}
                    </div>
                </div>
                {% if homepage is defined %}
                    <div id="buttons">
                        <div class="button-wrap" id="button-wrap-{{ matches["matches"][0]['id'] }}">
                            <input type="radio" name="accept-offers" id="yes-button" class="hidden radio-label">
                            <label for="yes-button" class="button-label" onclick="javascript:betOnGame(this,0);">
                                <h1 id="betHomeTeam"> Parier sur {{ (matches["matches"][0]['homeTeam']['name']|split(' '))[0] }}<br/>1.5</h1>
                            </label>
                            <input type="radio" name="accept-offers" id="no-button" class="hidden radio-label">
                            <label for="no-button" class="button-label" onclick="javascript:betOnGame(this,1);">
                                <h1 id="betNul"> Match Nul<br/>1.3</h1>
                            </label>
                            <input type="radio" name="accept-offers" id="maybe-button" class="hidden radio-label">
                            <label for="maybe-button" class="button-label" onclick="javascript:betOnGame(this,2);">
                                <h1 id="betAwayTeam"> Parier sur {{ (matches["matches"][0]['awayTeam']['name']|split(' '))[0] }}<br/>1.4</h1>
                            </label>
                        </div>
                    </div>
                {% endif %}
                <br>
                <hr/>
            </div>
        {% else %}
            <h1 id="titre-match">Vous n'avez effectué aucun paris</h1>
            <h4>Pour parier, rendez-vous dans la section <a href="/">Bets Feed</a></h4>
        {% endif %}

    </div>
{% endblock %}