{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/home.css')}}"/>

    <!-- Pour la barre de recherche -->
    <link href="{{ asset('assets/css/search.css') }}" rel="stylesheet"/>
    <script src="{{ asset('assets/js/search.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>


    <!-- Pour l'affichage des details sur un match -->
    <link rel="stylesheet" href="{{ asset('assets/css/bouton.css')}}"/>
    <script src="{{ asset('assets/js/getInfoMatch.js') }}"></script>
{% endblock %}


{% block body %}
    <br>
    <div id="pari-selectionne">
        <h1 id="titre-match">{{ matches["matches"][0]['homeTeam']['name'] }} - {{ matches["matches"][0]['awayTeam']['name'] }}</h1>
        <h4>Pariez sur le match et gagnez plein d'argent !! <img src="{{ asset('assets/images/money-bag.png') }}"/></h4>

        <div class="row col-md-10 match-details">
            <hr/>
            <div class="row">
                <div class="col-md-1 col-md-offset-1 NomChampionnat" id="competition">
                    {{ matches['competition']['name'] }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4 col-md-offset-1 NomEquipe" id="nomEquipes">
                    {{ matches["matches"][0]['homeTeam']['name'] }} - {{ matches["matches"][0]['awayTeam']['name'] }}
                </div>
                <div class="col-md-2 col-md-offset-4" id="date">
                    {% set date1 = matches["matches"][0]['utcDate']|split('-') %}
                    {% set date1_1 = date1[2]|split('T') %}
                    {% set date2 = matches["matches"][0]['utcDate']|split('T') %}
                    {% set date3 = date2[1]|split(':') %}
                    {{ date1_1[0] ~ '/' ~ date1[1] ~ ' ' ~ date3[0] ~ ':' ~ date3[1]}}
                </div>
            </div>
            <div id="buttons">
                <div class="button-wrap">
                    <input type="radio" name="accept-offers" id="yes-button" class="hidden radio-label">
                    <label for="yes-button" class="button-label">
                        <h1 id="betHomeTeam"> Parier sur {{ (matches["matches"][0]['homeTeam']['name']|split(' '))[0] }}<br/>1.5</h1>
                    </label>
                    <input type="radio" name="accept-offers" id="no-button" class="hidden radio-label">
                    <label for="no-button" class="button-label">
                        <h1 id="betNul"> Match Nul<br/>1.3</h1>
                    </label>
                    <input type="radio" name="accept-offers" id="maybe-button" class="hidden radio-label">
                    <label for="maybe-button" class="button-label">
                        <h1 id="betAwayTeam"> Parier sur {{ (matches["matches"][0]['awayTeam']['name']|split(' '))[0] }}<br/>1.4</h1>
                    </label>
                </div>
            </div>
            <br>
            <hr/>
        </div>

    </div>
{% endblock %}